
h1 {
    text-align: justify;
    font-weight: 900;
    letter-spacing: 15px;
    font-family: Tahoma, serif;
    font-weight: 100;
}

img {
    max-width: 800px;
    max-height: 800px;
}

header {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    background-color: #352e35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

nav > li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.logo {
    cursor: pointer;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s
}
.nav_links li a:hover {
    color: #0088a9
}


button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0,136,169,0.8);
}

main {
    
}
main a {
    color:blue;
}


.content {
    width: 800px;
    height: 600px;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 5%;
}

.ingredients {
    width: 800px;
    height: 600px;
    box-sizing: border-box;
    border: 4px solid black;    
    border-radius: 5%;
}
.instructions {
    width: 800px;
    height: 600px;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 5%;
}